dn: cn=module{1},cn=config
cn: module{1}
objectClass: olcModuleList
olcModulePath: /usr/lib/ldap
olcModuleLoad: memberof

dn: olcOverlay={1}memberof,olcDatabase={1}mdb,cn=config
objectClass: olcConfig
objectClass: olcMemberOf
objectClass: olcOverlayConfig
objectClass: top
olcOverlay: {1}memberof
olcMemberOfDangling: ignore
olcMemberOfRefInt: TRUE
olcMemberOfGroupOC: groupOfNames
olcMemberOfMemberAD: member
olcMemberOfMemberOfAD: memberOf

dn: cn=module{2},cn=config
cn: module{2}
objectClass: olcModuleList
olcModulePath: /usr/lib/ldap
olcModuleLoad: pw-sha2.la

dn: olcDatabase={-1}frontend,cn=config
changetype: modify
replace: olcPasswordHash
olcPasswordHash: {SSHA512}

dn: cn=module{3},cn=config
cn: module{3}
objectClass: olcModuleList
olcModulePath: /usr/lib/ldap
olcModuleLoad: ppolicy.la

dn: olcOverlay={2}ppolicy,olcDatabase={1}mdb,cn=config
objectClass: olcOverlayConfig
objectClass: olcPPolicyConfig
olcOverlay: {2}ppolicy
olcPPolicyDefault: cn=defaultppolicy,{{ ldap_base_dn }}
olcPPolicyHashCleartext: TRUE
olcPPolicyUseLockout: FALSE
olcPPolicyForwardUpdates: FALSE

dn: cn=module{4},cn=config
cn: module{4}
objectClass: olcModuleList
olcModulePath: /usr/lib/ldap
olcModuleLoad: syncprov

dn: olcOverlay={3}syncprov,olcDatabase={1}mdb,cn=config
objectClass: olcOverlayConfig
objectClass: olcSyncProvConfig
olcOverlay: {3}syncprov
olcSpSessionLog: 100

dn: olcDatabase={1}mdb,cn=config
changetype: modify
add: olcSyncRepl
olcSyncRepl: rid=001
  provider={{ ldap_provider }}
  bindmethod=simple
  binddn="{{ ldap_replicator_dn }}"
  credentials={{ ldap_replicator_password }}
  searchbase="{{ ldap_base_dn }}"
  scope=sub
  schemachecking=on
  type=refreshAndPersist
  retry="30 +"
  tls_cacert=/etc/ssl/certs/ca-certificates.crt

dn: olcDatabase={1}mdb,cn=config
changetype: modify
add: olcDbIndex
olcDbIndex: memberOf eq
olcDbIndex: entryUUID eq
